body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url('https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/09/11/1568415981-nova-camisa-3-do-sao-paulo-e1694406649596.jpg');
    text-align: center;
}

h1 {
    color: #fffdfd;
}

p {
    color: #ffffff;
}
