body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url('https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_lg_2x/f_auto/primary/cgbwep8v03jd6nrf02bi');
    text-align: center;
}

h1 {
    color: #000000;
}

p {
    color: #0c0c0c;
}

h2 {
    color: rgb(253, 253, 253);
    font-style: italic;
}

button{
    color: rgb(255, 0, 0);
    width: 50px; 
}   