body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url('https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_lg_2x/f_auto/primary/cgbwep8v03jd6nrf02bi');
    text-align: center;
}

h1 {
    color: #fffdfd;
}

p {
    color: #ffffff;
}

h2 {
    color: azure;
    font-style: italic;
}

button{
    margin: 2px;
    padding: 5%;
    font-size: 10px;
    width: //aqui vc define a largura que quer (px, %, etc.);
    height: //aqui vc define a altura que quer (px, %, etc.);
    text-align: center;
    color: black;
    border: 3px solid #4F4F4F;
    border-radius: 6%;
}